.button {
  display: block;

  width: 274px;
  padding-top: 14px;
  padding-bottom: 17px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;

  background-color: transparent;

  border: 3px solid #ffffff;
  border-radius: 25px;

  cursor: pointer;
}

.button__download {
  margin-top: 28px;
  margin-bottom: 32px;

  text-decoration: none;
}

.button__download:hover {
  color: #d22856;
  background-color: #ffffff;
}

.button__download:active {
  color: rgba(210, 40, 86, 0.3);
  background-color: #ffffff;
}

.button__post {
  margin-top: 38px;
  margin-bottom: 12px;

  color: #d22856;

  border-color: #d22856;
}

.button__post:hover {
  color: #ffffff;

  background-color: #d22856;

  border-color: #d22856;
}

.button__post:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d22856;

  border-color: #d22856;
}

.button__cancel {
  margin: 0;
  margin-bottom: 41px;
  color: rgba(40, 54, 69, 0.1);

  border-color: rgba(40, 54, 69, 0.1);
}

.button__cancel:hover {
  color: rgba(40, 54, 69, 0.3);

  border-color: rgba(40, 54, 69, 0.3);
}

.button__cancel:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgba(40, 54, 69, 0.3);

  border-color: rgba(40, 54, 69, 0.3);
}

.button-form {
  width: 280px;
  height: 63px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #2aab6d;

  border: 2px solid #2aab6d;
  border-radius: 1px;

  cursor: pointer;
}

.button-form:hover {
  background-color: #1c9b5e;

  border-color: #1c9b5e;
}

.button-form:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #1c9b5e;

  border-color: #1c9b5e;
}

.button-form:disabled {
  color: #ffffff;

  background-color: #e5e5e5;

  border-color: #e5e5e5;
}

.button-form__send {
  margin-bottom: 31px;
}

.button-form__ok {
  margin-top: 36px;
  margin-bottom: 50px;
}

.button-form__close {
  margin-top: 80px;
  margin-bottom: 50px;
}

@media (min-width: $tablet-width) {
  .button__download {
    width: 294px;
    margin-top: 31px;
    margin-bottom: 46px;
  }

  .button__post,
  .button__cancel {
    margin: 0;
    width: 254px;
  }

  .button__post {
    margin-top: 67px;
    margin-bottom: 24px;
  }

  .button-form__send {
    width: 300px;
    margin-bottom: 0;
  }

  .button-form__ok {
    margin-top: 39px;
    margin-bottom: 52px;
  }

  .button-form__close {
    margin-top: 83px;
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .button__download {
    margin-top: 52px;
    margin-bottom: 68px;

    font-size: 21px;
  }

  .button__post,
  .button__cancel {
    width: 183px;
    margin: 0;
    margin-top: 146px;
  }

  .button-form__close {
    width: 460px;
    margin-top: 83px;
    margin-bottom: 52px;
  }
}
