.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    width: 100%;

    display: block;
  }

  .effect__box {
    width: 100%;
    margin-top: 56px;

    display: flex;
    justify-content: space-between;
  }

  .effect__timer-box {
    position: relative;

    width: 238px;
    height: 276px;
    margin-top: 0;
    margin-right: 68px;

    align-self: center;

    background: url("../img/editor-diagram-fill.svg") no-repeat center 55px,
          url("../img/timer.svg") no-repeat center center;
    background-size: 202px auto, contain;
  }

  .effect__timer-box::before {
    content: "24";

    position: absolute;
    top: 75px;
    left: 65px;

    font-size: 96px;
    line-height: 149.47px;
    font-weight: bold;
    color: #d22856;
  }

  .effect__text-box {
    width: 310px;
    margin-top: 36px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .effect__title {
    margin: 0;
    margin-bottom: 11px;
    padding: 0;

    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  .effect__text {
    width: 100%;
    margin: 0;
    margin-bottom: 9px;
    padding: 0;

    font-size: 14px;
    line-height: 24px;
  }

  .effect__link {
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 24px;
    color: #d22856;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: #f2f2f2;
  }

  .effect__box {
    margin-top: 0;
    padding-bottom: 68px;

    justify-content: flex-start;
  }

  .effect__timer-box {
    width: 298px;
    height: 345px;
    margin-top: 20px;
    margin-right: 68px;

    background-position: center 70px, center center;
    background-size: 253px auto, contain;
  }

  .effect__timer-box::before {
    top: 96px;
    left: 80px;

    font-size: 120px;
    line-height: 186.84px;
  }

  .effect__text-box {
    width: 530px;
    margin-top: 115px;
  }

  .effect__title br {
    display: none;
  }

  .effect__title {
    margin-bottom: 25px;
    line-height: 30px;
  }

  .effect__text {
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
