.feedback {
  background-color: #ffffff;
}

.feedback__box {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__ask {
  width: 100%;
  margin: 0;
  margin-top: 42px;
  margin-bottom: 35px;
  padding: 0;

  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.feedback__text-box {
  width: 100%;
  padding-bottom: 35px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.feedback__text {
  width: 280px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.feedback__text:not(:last-child) {
  margin-bottom: 19px;
}

.feedback__contacts {
  width: 100%;
  font-size: 24px;
  font-weight: normal;
  color: #d22856;
}

.feedback__link {
  font: inherit;
  color: #d22856;
  text-decoration: none;
}

.feedback__link:hover {
  color: #283645;
  text-decoration: underline;
}

.feedback__link:active {
  color: rgba(40, 54, 69, 0.3);
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .feedback__ask {
    width: 375px;
    margin-top: 46px;
    margin-bottom: 45px;

    font-size: 40px;
    line-height: 47px;
  }

  .feedback__text:not(:last-child) {
    margin-bottom: 47px;
  }

  .feedback__text-box {
    padding-bottom: 29px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__ask {
    width: 470px;
    margin-top: 67px;
    margin-bottom: 45px;

    font-size: 50px;
    line-height: 57px;
  }

  .feedback__text-box {
    padding-bottom: 0;
    justify-content: space-between;
    align-items: flex-start;
  }

  .feedback__text {
    width: 298px;
    margin-top: 15px;
    margin-bottom: 22px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feedback__contacts {
    margin-top: 20px;

    line-height: 30px;
  }

  .feedback__text--phone {
    order: 1;
  }

  .feedback__text--mail {
    order: 3;
  }

  .feedback__text--adress {
    order: 2;
  }
}
