.main-nav {
  position: relative;
  z-index: 1;

  width: 320px;
  margin: 0 auto;
}

.main-nav__wrapper {
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 50px;
  height: 24px;

  background-color: transparent;

  cursor: pointer;
  border: none;
}

.main-nav__toggle:hover {
  &::before,
  &::after {
    background-color: #d22856;
  }
}

.main-nav__toggle:active {
  color: rgba(210, 40, 86, 0.3);
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 50px;
  height: 4px;

  background-color: #ffffff;
  box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.3), 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff, 0 18px 0 -1px rgba(255, 255, 255, 0.3);
}

.main-nav--closed .main-nav__toggle:hover {
  &::before {
    background-color: #d22856;
    box-shadow: 0 2px 0 -1px rgba(210, 40, 86, 0.3), 0 10px 0 0 #d22856, 0 20px 0 0 #d22856, 0 18px 0 -1px rgba(210, 40, 86, 0.3);
  }
}

.main-nav--closed .main-nav__toggle:active {
  &::before {
    background-color: rgba(210, 40, 86, 0.3);
    box-shadow: 0 2px 0 -1px rgba(210, 40, 86, 0.1), 0 10px 0 0 rgba(210, 40, 86, 0.3), 0 20px 0 0 rgba(210, 40, 86, 0.3), 0 18px 0 -1px rgba(210, 40, 86, 0.1);
  }
}

.main-nav--opened .main-nav__toggle {
  width: 24px;

  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 8px;
    right: -4px;

    width: 30px;
    height: 5px;

    background-color: #ffffff;

    border-radius: 2px;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--opened .main-nav__toggle:hover {
  &::before,
  &::after {
    background-color: #d22856;
  }
}

.main-nav--opened .main-nav__toggle:active {
  &::before,
  &::after {
    background-color: rgba(210, 40, 86, 0.3);
  }
}

@media (max-width: $no-desktop) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .page-header__box-wrapper {
    height: 66px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}


@media (min-width: $tablet-width) {
  .main-nav {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1200px;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .main-nav__wrapper {
    width: 940px;

    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: none;
  }
}
