.page-header {
  width: 320px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.page-header__box-wrapper {
  width: 280px;
  height: 69px;
  margin: 0 auto;
  margin-bottom: 1px;
  padding: 0 20px;

  background-color: #283645;
}

.page-header__box {
  width: 100%;
  margin-top: 22px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page-header__logo--mobile,
.page-header__logo--tablet,
.page-header__logo--desktop {
  fill: #ffffff;
}

.page-header__logo-link[href]:hover .page-header__logo--mobile,
.page-header__logo-link[href]:hover .page-header__logo--tablet,
.page-header__logo-link[href]:hover .page-header__logo--desktop {
  fill: #d22856;
}

.page-header__logo-link[href]:active .page-header__logo--mobile,
.page-header__logo-link[href]:active .page-header__logo--tablet,
.page-header__logo-link[href]:active .page-header__logo--desktop {
  fill: rgba(255, 255, 255, 0.3);
}

.page-header__logo--tablet,
.page-header__logo--desktop {
  display: none;
}

.page-header__intro {
  position: relative;

  width: 320px;
  height: 462px;
  margin: 0 auto;
  margin-top: -67px;
  margin-bottom: 270px;

  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom,
            #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat center bottom;
  background-size: auto auto, 706px auto;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .page-header__intro {
    background: url("../img/iphone-hand-mobile@2x.png") no-repeat left bottom,
              #1d2631 url("../img/bg-back-mobile@2x.jpg") no-repeat center bottom;
    background-size: 258px auto, 700px auto;
  }
}

.page-header__intro--inner {
  height: 237px;
  margin-bottom: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat center -3px;
  background-size: 706px auto;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .page-header__intro--inner {
    background: #1d2631 url("../img/bg-back-mobile@2x.jpg") no-repeat center bottom;
    background-size: 700px auto;
  }
}

.page-header__text {
  width: 180px;
  margin: 0;
  margin-bottom: 82px;
  padding: 0;

  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
}

.page-header__text--form {
  width: 250px;
  margin-top: 29px;
  margin-bottom: 54px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 660px;
  }

  .page-header__intro {
    width: 660px;
    height: 729px;
    margin-top: -110px;
    margin-bottom: 0;

    background: url("../img/iphone-hand-tablet@1x.png") no-repeat center bottom,
              #1d2631 url("../img/bg-back-tablet@1x.jpg") no-repeat center bottom;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-header__intro {
      background: url("../img/iphone-hand-tablet@2x.png") no-repeat left bottom,
                #1d2631 url("../img/bg-back-tablet@2x.jpg") no-repeat center bottom;
      background-size: 700px auto, 1200px auto;
    }
  }

  .page-header__intro--inner {
    height: 440px;

    background: #1d2631 url("../img/bg-back-tablet@1x.jpg") no-repeat center -1px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-header__intro--inner {
      background: #1d2631 url("../img/bg-back-tablet@2x.jpg") no-repeat center bottom;
      background-size: 1200px auto;
    }
  }

  .page-header__text {
    width: 360px;
    margin-bottom: 140px;

    font-size: 50px;
    line-height: 60px;
  }

  .page-header__text--form {
    width: 500px;
    margin-top: 69px;
    margin-bottom: 80px;
  }

  .page-header__box-wrapper {
    width: 620px;
    min-height: 109px;
  }

  .page-header__box {
    margin-top: 27px;

    align-items: flex-end;
  }

  .page-header__logo--mobile {
    display: none;
  }

  .page-header__logo--tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1200px;
  }

  .page-header__intro {
    width: 1200px;
    height: 853px;
    margin-top: -110px;
    margin-bottom: 0;

    background: url("../img/iphone-hand-desktop@1x.png") no-repeat 146px bottom,
              #1d2631 url("../img/bg-back-desktop@1x.jpg") no-repeat center bottom;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-header__intro {
      background: url("../img/iphone-hand-desktop@2x.png") no-repeat 146px bottom,
                #1d2631 url("../img/bg-back-desktop@2x.jpg") no-repeat center bottom;
      background-size: 1050px auto, 2560px auto;
    }
  }

  .page-header__intro--inner {
    height: 394px;

    background: #1d2631 url("../img/bg-back-desktop@1x.jpg") no-repeat center 1px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-header__intro--inner {
      background: #1d2631 url("../img/bg-back-desktop@2x.jpg") no-repeat center bottom;
      background-size: 2560px auto;
    }
  }

  .page-header__box-wrapper {
    width: 150px;
    margin: 0;
    padding: 0;

    background-color: transparent;
  }

  .page-header__text {
    margin-top: 65px;
    margin-bottom: 100px;
  }

  .page-header__text--form {
    width: 780px;
    margin-top: 64px;
    margin-bottom: 100px;
  }

  .page-header__logo--tablet {
    display: none;
  }

  .page-header__logo--desktop {
    display: block;
  }
}
