.photos {
  width: 320px;
  margin: 0 auto;

  background-color: #ffffff;

  overflow: hidden;
}

.photos__box {
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photos__ask {
  width: 240px;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 49px;
  padding: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.photos__ask--bottom {
  margin-top: 20px;
  margin-bottom: 42px;
}

.photos__item,
.photos__item--top {
  position: relative;

  width: 280px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;
}

.photos__item--top::before {
  content: "Панорама дня";

  position: absolute;
  top: 0;
  right: 0;

  width: 140px;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #d22856;
}

.photos__image--top {
  width: 320px;

  display: flex;
  align-self: center;
}

.photos__post,
.photos__post--top {
  padding: 12px 18px 19.5px 18px;

  display: flex;
  flex-direction: column;
}

.photos__text {
  width: 240px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
}

.photos__text--author {
  margin-bottom: 0;

  font-weight: bold;
  font-style: normal;
}

.photos__text--comment {
  margin-bottom: 10px;
}

.photos__text--time {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.photos__like,
.photos__like--top {
  width: 240px;

  display: flex;
  align-items: center;
}

.photos__like-count {
  margin: 0;
  margin-left: 19px;
  padding: 0;

  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}

@media (min-width: $tablet-width) {
  .photos {
    width: 660px;
  }

  .photos__ask {
    width: 450px;
    margin-top: 92px;
    margin-bottom: 76px;

    font-size: 18px;
  }

  .photos__item--top {
    width: 620px;
    margin-bottom: 50px;
  }

  .photos__image--top {
    width: 700px;
  }

  .photos__item--top::before {
    top: 57px;
  }

  .photos__post--top {
    padding: 19px 29px 14px 27px;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .photos__post--top .photos__text--author {
    order: 1;
  }

  .photos__post--top .photos__text--comment {
    width: 564px;

    order: 3;
  }

  .photos__post {
    min-height: 109px;
    padding: 19px 32px 22.5px 27px;
  }

  .photos__like-count {
    margin: 0;
  }

  .photos__like--top {
    width: 118px;
    margin: 0;

    flex-direction: row-reverse;
    justify-content: space-between;
    order: 2;
  }

  .photos__like {
    margin-top: auto;

    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .photos__item {
    width: 300px;
  }

  .photos__ask--bottom {
    margin-top: 43px;
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .photos {
    width: 940px;

    overflow: visible;
  }

  .photos__ask {
    width: 580px;
    margin-bottom: 88px;
  }

  .photos__item--top {
    width: 940px;
  }

  .photos__image--top {
    width: 1200px;
  }

  .photos__post--top {
  padding: 19px 31px 13px 27px;
  }

  .photos__post--top .photos__text--comment {
    width: 870px;
  }

  .photos__item {
    margin-bottom: 54px;
  }

  .photos__item img {
    height: 400px;
  }

  .photos__ask--bottom {
    margin-top: 5px;
    margin-bottom: 65px;
  }
}
