.reviews {
  background-color: #ffffff;
}

.reviews__box {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.reviews__arrow {
  display: none;
}

.reviews__inner {
  width: 840px;
  margin-bottom: 36px;

  align-self: flex-start;

  display: flex;

  transition: transform 0.8s ease;
}

.reviews__item {
  width: 280px;
  margin: 0;
  margin-right: 2px;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__icon {
  display: none;
}

.reviews__post {
  display: none;

  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.reviews__author {
  width: 100%;
  margin: 0;
  margin-top: 44px;
  margin-bottom: 12.5px;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #000000;
}

.reviews__text {
  width: 100%;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews__inner {
    width: 1860px;
    margin-top: 96px;
  }

  .reviews__item {
    width: 620px;
    flex-direction: column-reverse;
  }

  .reviews__post {
    display: block;
  }

  .reviews__author {
    margin-top: 34px;
    margin-bottom: 3px;

    font-size: 20px;
  }

  .reviews__text {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__box {
    position: relative;

    width: 940px;
    margin: 0 auto;
  }

  .reviews__arrow {
    display: block;

    position: absolute;
    top: 213px;

    width: 22px;
    height: 41px;
    cursor: pointer;
  }

  .reviews__arrow:hover .reviews__arrow--icon {
    fill: rgba(40, 54,69, 0.6);
  }

  .reviews__arrow:active .reviews__arrow--icon {
    fill: rgba(40, 54,69, 0.1);
  }

  .reviews__arrow--left {
    left: 0;
  }

  .reviews__arrow--right {
    right: 0;
  }

  .reviews__inner {
    width: 2820px;
    margin-top: 50px;
  }

  .reviews__item {
    width: 940px;
    flex-direction: column-reverse;
  }

  .reviews__text {
    width: 700px;
  }

  .reviews__icon {
    display: block;
    margin-top: 72px;
  }

  .reviews__post {
    font-size: 18px;
  }
  .reviews__author {
    margin-top: 36px;
    margin-bottom: 2px;

    font-size: 24px;
  }
}
