.reviews {
  height: 354px;

  background-color: #ffffff;
}

.reviews__box {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.reviews__inner {
  width: 840px;
  margin-bottom: 36px;

  align-self: flex-start;

  display: flex;

  transition: transform 0.8s ease;
}

.reviews__item {
  width: 280px;
  margin: 0;
  margin-right: 2px;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__icon {
  display: none;
}

.reviews__post {
  display: none;

  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.reviews__author {
  margin: 0;
  margin-top: 44px;
  margin-bottom: 12.5px;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #000000;
}

.reviews__text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews {
    height: 350px;
  }

  .reviews__inner {
    width: 1860px;
    margin-top: 96px;
  }

  .reviews__item {
    width: 620px;
    flex-direction: column-reverse;
  }

  .reviews__post {
    display: block;
  }

  .reviews__author {
    margin-top: 34px;
    margin-bottom: 3px;

    font-size: 20px;
  }

  .reviews__text {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    height: 402px;
  }

  .reviews__box {
    width: 820px;
    margin: 0 auto;
  }

  .reviews__inner {
    width: 2460px;
    margin-top: 50px;
  }

  .reviews__item {
    width: 820px;
    flex-direction: column-reverse;
  }

  .reviews__text {
    width: 700px;
  }

  .reviews__icon {
    display: block;
    margin-top: 72px;
  }

  .reviews__post {
    font-size: 18px;
  }
  .reviews__author {
    margin-top: 36px;
    margin-bottom: 2px;

    font-size: 24px;
  }
}
