.site-list__link {
  text-decoration: none;
  color: #ffffff;
}

.site-list__item {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 62px;
  margin-bottom: 1px;

  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  border-top: 1px solid #485461;

  box-shadow: 0 1px 0 0 #000000,
              0 -1px 0 0 #000000;
}

.site-list__link:hover {
  color: #d22856;
}

.site-list__link:active {
  color: rgba(210, 40, 86, 0.3);
}

@media (min-width: $desktop-width) {
  .site-list__item {
    width: auto;
    margin: 0;

    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-transform: capitalize;

    border: none;

    box-shadow: none;
  }

  .site-list__item:not(:last-child) {
    margin-right: 85px;
  }

  .site-list__link:hover {
    color: #d22856;
  }

  .site-list__link:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .site-list__item--current {
    position: relative;
  }

  .site-list__item--current::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 2px;

    background-color: #ffffff;
  }
}
