.slider input[type="radio"] {
  display: none;
}

.slider__box {
  width: 56px;
  height: 6px;
  margin-bottom: 46px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__toggle {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
  cursor: pointer;
}

.slider__toggle:hover {
  background-color: rgba(40, 54, 69, 0.6);
}

.slider__toggle:active {
  background-color: rgba(40, 54, 69, 0.1);
}

.btn-plan-1:checked ~ .slider__box--plan label[for="btn-plan-1"],
.btn-plan-2:checked ~ .slider__box--plan label[for="btn-plan-2"],
.btn-plan-3:checked ~ .slider__box--plan label[for="btn-plan-3"] {
  background-color: transparent;
  box-shadow: 0 0 0 3px #283645;
  transition: 0.4s;
}

.btn-reviews-1:checked ~ .slider__box--reviews label[for="btn-reviews-1"],
.btn-reviews-2:checked ~ .slider__box--reviews label[for="btn-reviews-2"],
.btn-reviews-3:checked ~ .slider__box--reviews label[for="btn-reviews-3"] {
  background-color: transparent;
  box-shadow: 0 0 0 3px #283645;
  transition: 0.4s;
}

.btn-plan-1:checked ~ .plan__table,
.btn-reviews-1:checked ~ .reviews__inner {
  transform: translate(1px);
}

.btn-plan-2:checked ~ .plan__table,
.btn-reviews-2:checked ~ .reviews__inner {
  transform: translate(-278px);
}

.btn-plan-3:checked ~ .plan__table,
.btn-reviews-3:checked ~ .reviews__inner {
  transform: translate(-557px);
}

@media (min-width: $tablet-width) {
  .slider__box--plan {
    display: none;
  }

  .btn-plan-1:checked ~ .plan__table,
  .btn-plan-2:checked ~ .plan__table,
  .btn-plan-3:checked ~ .plan__table {
    transform: none;
  }

  .btn-reviews-1:checked ~ .reviews__inner {
    transform: translate(1px);
  }

  .btn-reviews-2:checked ~ .reviews__inner {
    transform: translate(-618px);
  }

  .btn-reviews-3:checked ~ .reviews__inner {
    transform: translate(-1237px);
  }
}

@media (min-width: $desktop-width) {
  .slider__box--reviews {
    display: none;
  }

  .btn-reviews-1:checked ~ .reviews__inner,
  .btn-reviews-2:checked ~ .reviews__inner,
  .btn-reviews-3:checked ~ .reviews__inner {
    transform: none;
  }
}
